[submodule "site-lisp/posframe"]
	path = site-lisp/posframe
	url = https://github.com/tumashu/posframe.git
[submodule "site-lisp/scratch-el"]
	path = site-lisp/scratch-el
	url = https://github.com/ieure/scratch-el.git
