# Ignore everything
*
*.*~

# And all the file types you're interested in.
!*.org

# Add all my .el configuration
!lisp/
!lisp/*.el
!my-init.el

# Add all the files within folder org-templates
!org-templates

# Add all snippet
!snippets
!snippets/**

# Add plantuml.jar
!plantuml.jar

# Add all the files within the org-html-themes
#!org-html-themes/*.*