# First, ignore everything
*
# Now, whitelist directory you wanted
*/
# And all the file types you're interested in.
!*.org
.#*

# Add all the files within folder org-templates
!org-templates

# Add all snippet
!snippets
!snippets/**

# Add all the files within the org-html-themes
#!org-html-themes/*.*
