[submodule "site-lisp/scratch-el"]
	path = site-lisp/scratch-el
	url = https://github.com/ieure/scratch-el.git

# [submodule "site-lisp/scimax"]
# 	path = site-lisp/scimax
# 	url = https://github.com/jkitchin/scimax.git
	
# [submodule "site-lisp/posframe"]
# 	path = site-lisp/posframe
# 	url = https://github.com/tumashu/posframe.git

# [submodule "site-lisp/counsel-etags"]
# 	path = site-lisp/counsel-etags
# 	url = https://github.com/redguardtoo/counsel-etags.git

[submodule "site-lisp/prettier-eslint-emacs"]
	path = site-lisp/prettier-eslint-emacs
	url = https://github.com/ProjectFrank/prettier-eslint-emacs.git
[submodule "site-lisp/mmm-mode"]
	path = site-lisp/mmm-mode
	url = https://github.com/purcell/mmm-mode.git
[submodule "site-lisp/distel"]
	path = site-lisp/distel
	url = https://github.com/massemanet/distel.git
